<div class="row text-white banner clearfix">
  <div class="col-md-8 py-4 content">
    <h2 class="display-4" style="width: 60%;">{{appname}}</h2>
    <p class="lead my-4"><span class="pr-4">---</span>Designed By {{author}}</p>
  </div>
  <div class="col-md-4 py-4 content">
    <h1 class="display-4">ARE YOU A STAFF OR STUDENT?</h1>
    <hr class="mb-2" />

    <div class="d-flex justify-content-between py-3">
      <a href="/patient/signin" class="btn btn-outline-success lead">Login as patient</a>

      <a href="/staff/signin" class="btn btn-outline-info lead">Login as doctor</a>
    </div>
  </div>
</div>