<div class="row text-white banner clearfix">
  <div class="col-md-6 py-4 content">
    <h2 class="display-4" style="width: 60%;">{{appname}}</h2>
    <p class="lead my-4"><span class="pr-4">---</span>Designed By {{author}}</p>
  </div>
  <div class="col-md-6 py-4 content">
    <a href="/staff/appointment/{{staff_user._id}}" class="btn btn-success btn-lg text-white mb-3 btn-block">Confirm Appointment</a>
    <a href="/staff/question/{{staff_user._id}}" class="btn btn-primary btn-lg text-white mb-3 btn-block">Answer Questions</a>
    <a href="/staff/create-patient" class="btn btn-warning btn-lg text-white mb-3 btn-block">Register Patient</a>
  </div>
</div>